* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;

}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg, black, white, black);
}

.container h1 {
  margin: 10px;
}

#form_container {
  position: relative;
  display: flex;
  width: 500px;
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
  background: black;
}

#form_container input {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
}

#form_container button {
  position: absolute;
  right: 15px;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
  background: blue;
  color: white;
  cursor: pointer;
}

.li {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 30px;
  /* text-align: center; */
}


.none {
  display: none;
}

.task_list {
  text-align: center;
  margin: 10px;
}

.task_list button {
  padding: 10px;
  background: red;
  color: white;
  border-radius: 10px;
  border: 1px solid red;
  cursor: pointer;
  margin-left: 20px;
}

.p {
  font-size: 25px;
}

.img {
  width: 200px;
  border-radius: 10px;
}

.done {
  text-decoration: line-through red;
  /* color: red; */
}

@media (max-width:500px) {
  #form_container {
    width: 300px;
  }

  .img {
    width: 100px;
  }
}